/* variables */
:root{
    /* color */
    --primario: #004FC6;
    --Secundario: #17182a;
    --colorTexto: #f5f5f5;

    /* fuentes */
    --fuenteSecundaria: 'Philosopher', sans-serif;
    --fuentePrincipal: 'Nixie One', cursive;
    --fuenteDiseño: 'Lemonada', cursive;
}
/* prestablecidos */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.5)
    ), url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}


h1,
h2,
h3,
p{
    color: var(--colorTexto);
    
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}
p{
    font-size: 2rem;
}
/* utilidades */
[class*="contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

[class*="heading"]{
    font-family: var(--fuenteSecundaria);
    font-size: 4rem ;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 2.5rem 0;
}
/* Color icons  */
.fa-html5{
    color: #EE632D;
}
.fa-css3-alt{
    color: #0870C2;
}
.fa-git-alt{
    color: #F1553A;
}
.fa-github{
    color: #ffffff;
}

.fa-sass{
    color: #CF6C9C;
}
.fa-react{
    color: #1BA1CC;
}
/* header */

.header-logo{
    height: 7rem;
    width: auto;
    padding: 1.5rem 0;

}
.header-logo img{
    width: auto;
    height: 100%;
}

.header-contenido{
    display: grid;
    margin: 5rem 0 ; 
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) { 
    .header-contenido{
        height: 38rem;
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.header-imagen{
    width: 70%;
    margin: 0 auto;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .header-imagen{
        width: 100%;
        grid-column: 3 / 4;
    }
    .header-presentacion{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}
.header-titulo{
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 5rem;
}.header-titulo{
    margin: 5rem 0 0 0;
}
@media (min-width: 768px) { 
    .header-titulo{
        margin: 0;
    }
}
/* efecto maquina de escribir  */


.header-titulo span{
    display: block;
    padding-bottom: 2rem;
}
.header-texto{
    margin: 1rem 0;
}
.header-cvbtn{
    display: inline-block;
    padding: .8rem 1rem;
    background-color: #148582;
    border-radius: 5px;
    color: #f5f5f5;
    font-family: var(--fuenteDiseño);
    font-weight: 400;
}
.header-navegacion{
    height: 5rem;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--Secundario);
    
}
@media (min-width: 768px) { 
    .header-navegacion{
        width: 50%;
        margin: 0 auto;
    }
}




/* section about */
.about{
    background-color: rgba(23, 24, 42, 0.4);
    border-radius: 1.5rem;
}

.about-contenido{
    display: grid;
}
@media (min-width: 768px) { 
    .about-contenido{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}
.about-imagen{
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: .8rem var(--primario) solid;
}

.about-imagen img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

@media (min-width: 768px) { 
    .about-texto{
        grid-column: 2 / 4;
        padding-right: 3rem;
    }
}

/* proyectos */
.proyectos{
    padding: 2.5rem 0;
}

.proyectos-grid{
    display: grid;
    gap: 2rem;
}
@media (min-width: 768px) { 
    .proyectos-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) { 
    .proyectos-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
.proyecto{
    background-color: rgba(23, 24, 42, 0.4);
    border-radius: 1.5rem; 
    overflow: hidden; /* para ocultar todo lo que esta fuera del contenedor */
    padding-bottom: 1rem;
}
.proyecto-imagen{
    object-fit: cover;
}
.proyecto-contenido{
    padding: 0 1rem;
}
.proyecto-contenido h3{
    margin: 1rem 0;
    font-family: var(--fuenteSecundaria);
}
.proyecto-contenido p{
    margin: 1rem 0;
}
.proyecto-tecnologias{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proyecto-tecnologias p{
    font-family: var(--fuenteSecundaria);
}
.proyecto-contenido .fa-brands{
    font-size: 3rem;
}


.proyecto-view{
    display: flex;
    gap: 1rem;
}
.proyecto-view a{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    background-color: #148582;
    padding: 1rem 0;
    color: var(--colorTexto);
    font-family: var(--fuenteDiseño);
}
.proyecto-view i{
    padding-right: 1rem;
}
/* habilidades */

.habilidades{
    background-color: rgba(23, 24, 42, 0.5);
    border-radius: 1.7rem;
}
.habilidades-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) { 
    .habilidades-grid{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 1200px) { 
    .habilidades-grid{
        grid-template-columns: repeat(7, 1fr);
    }
}
.habilidad{
    text-align: center;
}

.habilidad i{
    font-size: 6rem;
}
.habilidad p{
    font-family: var(--fuenteDiseño);
}